.gradle
.idea
*.iml
/local.properties
/build
#MyDemo.iml
#bdaywidget/bdaywidget.iml
#pullToRefreshlibrary/pullToRefreshlibrary.iml
#app/app.iml
#/app/app.iml
#/bdaywidget/bdaywidget.iml
#/citydb/citydb.iml
#/myapplication/myapplication.iml
#/pullToRefreshlibrary/pullToRefreshlibrary.iml
#/zxingdemo/zxingdemo.iml
