<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.demo.zxing">
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>
        <activity android:name=".qrcode.CaptureActivity"
            android:screenOrientation="portrait"
            android:label="CaptureActivity" />
    </application>

</manifest>
